.env
data/
frontend/build/
frontend/node_modules/
backend/venv/
worker/venv/
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
info.yml
.venv
checkflac.py
browser.json
fixflac.py
fixoneflac.py
fixartistalbum.py
scripts/